---
import xpEngineeringImage from "../assets/xp-engineering.png";
---

<main>
  <section class="h-screen overflow-hidden">
    <img
      src={xpEngineeringImage.src}
      alt="XP Engineering"
      class="h-full w-full object-cover"
    />
  </section>
</main>
